.userManagement {
    max-width: calc(1800px + 4rem);
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo {
    margin-top: 2rem;
    padding: 1.5rem 2rem;
    background-color: #5c3e25;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userInfo h2 {
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.infoRow {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.infoRow:last-child {
    margin-bottom: 0;
}

.label {
    font-weight: 600;
    color: white;
    text-align: right;
    margin-right: 1rem;
}

.value {
    color: white;
    text-align: left;
}

.updateForm {
    width: 100%;
    max-width: 500px;
    padding: 1.5rem 2rem;
    background-color: #5c3e25;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.updateForm h2 {
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.formGroup {
    margin-bottom: 1.25rem;
}

.formGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: white;
    text-align: center;
}

.input {
    width: 80%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    background-color: white;
}

.input:focus {
    outline: none;
    border-color: gold;
    box-shadow: 0 0 0 2px rgba(255, 215, 0, 0.2);
}

.submitButton {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #167600;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
    display: block;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.submitButton:hover {
    background-color: #005d02;
}

.submitButton:disabled {
    background-color: #84a97e;
    cursor: not-allowed;
}

.successMessage {
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: #167600;
    color: white;
    border-radius: 0.25rem;
    border: 1px solid #0c4400;
    text-align: center;
}

.errorMessage {
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: #e53e3e;
    color: white;
    border-radius: 0.25rem;
    border: 1px solid #c53030;
    text-align: center;
}